.ant-table-thead tr th {
    background-color: #ff7506 !important;
    color: #fff !important;
}
.ant-pagination .ant-pagination-item-active {
    border: none !important;
}
.ant-pagination .ant-pagination-item-active a {
    background-color: #ff7506;
    color: #fff !important;
    border-radius: 5px;
}
