.add-device-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &__content {
        padding: 40px;
        border-radius: 10px;
        width: 90%;
        background-color: #fff;
        h3 {
            font-weight: 700;
            font-size: 25px;
            color: #ff7506;
            margin-bottom: 20px;
            text-align: left;
        }
        .group-btn {
            position: absolute;
            bottom: 100px;
            left: 50%;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}
