.add-service-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
        width: 90%;
        padding: 30px;
        border-radius: 20px;
        background-color: #fff;
    }
    .title {
        font-weight: 700;
        color: #ff7506;
    }
}
.check__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.check__item {
    display: flex;
    align-items: center;
    gap: 10px;
    h3 {
        width: 200px;
        text-align: left;
    }
}
.group-btn {
    position: absolute;
    bottom: 100px;
    left: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
