.header {
    position: absolute;
    display: flex;
    background-color: transparent;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-left: 210px;
    z-index: 9999;
}
.breadcrumb {
    margin-right: auto;
}
.bell {
    padding: 5px;
    background-color: #ff7506;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
}
.avatar {
    margin-left: 20px;
}
.info {
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-left: 10px;
    gap: 5px;
    align-items: flex-start;
    .username {
        color: #535261;
        font-weight: 700;
    }
}
