.add-ttnumber {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
        width: 90%;
        height: 80%;
        border-radius: 20px;
        background-color: #fff;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            font-size: 25px;
            font-weight: 700;
            color: #ff7506;
        }
        p {
            margin-bottom: 10px;
            font-weight: 700;
        }
        button {
            margin: 0 10px;
        }
    }
}
.time {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.time_in,
.time_out {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.ant-modal .ant-modal-content {
    background-image: linear-gradient(to top, #ff9138 35%, #fff 30%);
}
